#banner {
    max-width: 100%;
    margin: 0 auto;
}
.bannerTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
}
.loading-basic {
    display: none;
    justify-content: center;
    margin-top: 2rem;
}
#searchBarDiv {
    padding-top: 1.5rem;
}
#summonerBasicInfoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#searchBarSection {
    display: grid;
    grid-template-columns: 5.5rem 1fr;
    max-width: 70%;
    margin: 0 auto;
}
.container p.control {
    display: flex;
    justify-content: center;
    align-items: center;
}
#rankedInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}
div#soloQ.box {margin: 0;}
#soloQ, #flexQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
#soloQTitle, #flexQTitle {
    padding: .8rem 1rem .2rem;
    border-radius: 0 0 20px 20px;
    color: black;
    background-color: #009e86;
    font-weight: 700;
}
#lastMatchTitle {
    background-color: #009e86;
    color: black;
    padding: .1rem 5rem;
    border-radius: 20px 20px 0 0;
    font-weight: 700;
}
#lastMatchInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lastMatchInfo .container {
    padding: 0 .6rem;
    border-radius: 15px;
}
#lastMatchInfo .column4 figure, #lastMatchInfo .column2 img  {
    border: 1px solid #009e86;
}
#gameWin {font-weight: 700;}
.victory {background-color: rgba(170, 246, 131, .1);}
.defeat {background-color: rgba(238, 96, 85, .1);}
#lastMatchInfo >div.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}
#gameChampionImage .image {border-radius: 100px;}
.column1, .column2, .column3, .column4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first3items, .last3items {
    display: flex;
    flex-direction: row;
    margin: .6rem;
}
.first3items > figure, .last3items > figure {
    margin: 0 .1rem;
}

@media screen and (min-width: 35rem) {
    #banner {max-width: 65%;}
}